<h1>{{ question.question_text }}</h1>
{% if error_message %} <p><strong>{{ error_message }}</strong></p>
{% endif %}

<form action="{% url 'polls:vote' question_id=question.id %}" method="post">
    {% csrf_token %}
    <!--
        여기가 Question detail페이지이며, question키에 해당하는 Question인스턴스가 할당되어 있음
        현재 Question에 속하는 Choice목록은 question.choice_set.all로 QuerySet을 얻어낼 수 있으며,
        for 구문으로 QuerySet을 순회한다.
    -->
    {% for choice in question.choice_set.all %}
    <!--
        각 Loop (매 Loop의 아이템: Choice인스턴스)
        마다 radio input과 label을 만들어줌
    -->
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
    {% endfor %}

    <!-- 전송 버튼 -->
    <button type="submit">Vote</button>
</form>